<h1>Restaurant <%= @restaurant.name %></h1>


<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant)  %>
<%= link_to "Back to the restaurants list", restaurants_path  %>
